<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Funding-Mapper">

	<select id="selectFundingByFno" parameterType="int" resultType="funding">
		select 
		* 
		from f_funding
		where fno=#{fno}
	</select>
	
	<select id="selectFundingList" resultType="funding">
		select
		* 
		from f_funding
		where fno is not null
		order by regdate desc 
	</select>
	
	<select id="selectFundingSequenceNextValue" resultType="int">
		select funding_seq.nextVal
		from dual
	</select>
	
	
	<update id="insertFunding" parameterType="funding">
		insert into f_funding(fno,writer, title, content, price_goal, regdate, enddate,startdate, fstatus, tag, furl, creater, category, project_img) 
		values(#{fno},#{writer}, #{title}, #{content}, #{price_goal}, sysdate, #{enddate}, #{startdate}, 'no_accept', #{tag}, #{furl}, #{creater}, #{category}, #{project_img})
		<selectKey keyProperty="fno" resultType="int">
			SELECT fno FROM f_funding WHERE fno = #{fno}
		</selectKey>
	</update>
	
	<update id="insertEmptyFunding" parameterType="int">
		insert into
		f_funding(fno)
		values(#{fno})
	</update>
	
	<update id="updateFunding" parameterType="funding">
		insert into f_funding(fno,writer, title, content, price_goal, regdate, enddate,startdate, fstatus, tag, furl, creater, category, project_img) 
		values(#{fno},#{writer}, #{title}, #{content}, #{price_goal}, sysdate, #{enddate}, #{startdate}, 'no_accept', #{tag}, #{furl}, #{creater}, #{category}, #{project_img})
	</update>
	
	<update id="deleteFunding" parameterType="int" >
		delete 
		from f_funding 
		where fno=#{fno}		
	</update>

</mapper>