<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member-Mapper">
	
	<select id="login" parameterType="str" resultType="member">
		select * 
		from f_member 
		where email=#{email}
	</select>
	
	<select id="selectMemberList" resultType="member">
		select *
		from f_member
	</select>
	
	<select id="selectMemberById" resultType="member" parameterType="str">
		select *
		from f_member
		where email = #{email}
	</select>
	
	<update id="Searchpass" parameterType="member">
		update f_member
		set password = #{password}	
		where email = #{email}
	</update>
	
	<update id="NaverUpdate" parameterType="member">
		update f_member
		set name=#{name} , email=#{email}, password=#{password}, picture=#{picture}
		where email = #{email}
	</update>
	
	<update id="regist" parameterType="member">
		insert into 
		f_member(EMAIL,
				 PASSWORD,
				 NAME,
				 Picture
				 ) 
		values(#{email},
			   #{password},
			   #{name},
			   #{picture}
			   )
	</update>
	
	<update id="MemberUpdate" parameterType="member">
		update f_member
		<set>
			<if test="picture != null">
				picture=#{picture},
			</if>
			
			<if test="password != null">
				password=#{password},
			</if>
			
			<if test="name != null">
				name=#{name}
			</if>
			
		</set>
		
		where email=#{email}
	</update>
	
	<!-- 범 -->
	<update id="insertSaleLog" parameterType="saleLog">
		insert into f_salelog values (#{sno},#{email},#{rno},#{fno},#{sprice},'후원 진행중')
	</update>
	
	<select id="selectSaleLogSequenceNextValue" resultType="int">
		select sno_seq.nextVal
		from dual
	</select>
	
	<select id="selectSaleLog" parameterType="str" resultType="saleLog">
		select *
		from f_salelog
		where email = #{email}
	</select>
	
	<update id="cancelFunding" parameterType="int">
		update f_salelog
		set sstatus = 'fail'
		where sno = #{sno}
	</update>
	
</mapper>
